@charset "utf-8";
*{
	margin:0 auto;
	padding:0;
	list-style-type: none;
}
html,body{
	// width:100%;
	// height:100%;
	overflow-x:hidden;
	// background:yellow;
}
#search{

	padding-left:10%;
}
#exampleInputEmail2{
	padding-left:60px;
	border-radius:15px;
	width:100%;

}
.row{
	// margin-right:0px;
}
/*input框里的小图标*/
#but{
	width:100%;

	color:#fff;
	float:left;
	margin-right:5px;
	font-size:13px;
	border:none;
	background:none;
}
#form-group {
	width:100%;
	position: relative;
	line-height:34px;
    margin-bottom:0px;
    .jd-search{
    position: absolute;
    left: 0PX;
    top: 3PX;

    height:29px;
    // background:red;
    // width: 29px;
    line-height:29px;
    // padding-left: 53PX;
    padding-right: 10PX;
    .jd-search-icon-logo{
    background:url(../image/logo.png)no-repeat;
    width: 18PX;
    height: 13PX;
    display: inline-block;
    background-size: 18PX 13PX;
    position: relative;
    left: 8PX;
    top: 8PX;
    vertical-align: middle;
    float: left;
    margin-right: 4PX;
    }
    .jd-search-form-icon{
    background:url(../image/ico.png)no-repeat;
    background-size: 12PX 12PX;
    width: 12PX;
    height: 12PX;
    display: inline-block;
    position: relative;
    top: 9PX;
    float: left;
    margin: 0 5PX 0 10PX;
    }
    }
}

#header{
    position: fixed;
    top: 5PX;
    width: 100%;
    z-index: 29;
    line-height:34px;
    -webkit-transform: translateY(0PX);
    -moz-transform: translateY(0PX);
    -o-transform: translateY(0PX);
    -ms-transform: translateY(0PX);
    transform: translateY(0PX);
}
/*轮播开始*/ 
#swiper{
	width:100%;
	font-size:40px;
	
	
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 1px;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet-active{
	
	background-color:#fff;
}
img{
	width:100%;
}
/*设置三张图片*/ 
.col-sm-4 {
	padding:0px;
}
/*nav导航部分*/ 
.content-fluid>#link{
	margin-top:5px;
	float:left;
	text-align:center;
	display:line-block;
	width:20%;
	
}
.content-fluid>#link>span{
	font-size:12px;
	color:#666;
}
.content-fluid>#link>img{
	display:block;
	
	width: 29PX;
    height: 29PX;
    margin: 0PX auto 4PX auto;
}
/*明星部分*/
.content-fluid>#mx{
	float:left;
	width:25%;
	display:line-block;
} 
/*滚动轮播*/
.content-fluid{
	#kb{
		display:block;
		width:25%;
		float:left;
		padding-left:1%;
		line-height:30px;
		height:30px;
		img{

			width:73px;
		    height:16px;
		    
		}
	}
	#scroll{
		position: relative;
		width:50%;
		float:left;
		height:30px;
		overflow:hidden;
		
		#gd{
		position: relative;
		// top:-10px;
		width:100%;
		// background:red;
		height:85px;		
		li{
			
			height:30px;
			width:100%;

			// margin:7px 0px;
			a{
				display:block;
				width:100%;
				height:100%;
				line-height:30px;
				font-size:12px;
				padding-left:5px;
				span{
					color:red;
				}
			}
		}
	}
	}
	.wrap{
		float:right;
		height:30px;
		width:25%;
		
		// margin-left:14px;
		// line-height:30px;
		text-align:center;
		a{
			display:block;
			padding-right:10%;
			text-align:right;
			line-height:30px;
		}
	}
	

}
/*倒计时*/
#title-left{
	height:34px;
    img{
    	width:40%;
    	float:left;
    	height:27px;
    	width:69px;
    }
    strong{
    	width:60px;
    	float:left;
    	margin-top:3px;
    	
    	display:line-block;
    }
    #sj{
    	margin-top:3px;
    	
    	height:100%;
    	width:66px;
    	float:left;
    	span{
    		display:block;
    		float:left;
    		line-height:16px;
    	}
    }
    .timer{
		// background:black;
		width: 18PX;
		height:16px;
		line-height:34px;
		
		float:left;
    line-height: 17PX;
    color: #232326;
    font-size: 12PX;
    display:line-block;
    position: relative;
	}
	
}
#title-right{
	height:34px;
	position: relative;
	// text-align:right;
	span{
		position: absolute;
		right:10%;
		display:block;
		line-height:27px;
		color:red;
		i{
		display: inline-block;
		width: 11PX;
		height: 11PX;
		background: url(../image/arrow_rt.png) no-repeat;
		background-size: cover;

         }
	}

}
/*滑块*/
#swiper2{
		height:140px;
		#swiper-one{
		text-align:center;
		width:100px;
		// background:red;	
		img{
		width:86px;
		height:86px;
		}
		span{

		display: block;
		color: #f23030;
		font-size: 16PX;
		line-height: 16PX;
		height: 16PX;
		text-align: center;
		font-weight: bold;
		}
		#price{
		color:#666;
		text-decoration:line-through;
		}

		}


}
/*四个方格*/
#floor{
	height:200px;
	
	img{
		display:block;
		float:left;

		width:50%;
	}
} 
#show{
	// height:360px;
	img{
		float:left;

		display:block;
		// height:120px;
		width:25%;
	}
}
/*闪购 发现好货两块*/

#real-show{


	p{
		margin-left:5%;
		color:red;
		font-size:1rem;

	}
	span{
		margin-left:5%;

		display:block;
		color:#222222;
		font-size: .75rem
	}
	img{
		margin-left:5%;

		width:45%;
		height:50%;
		float:left;
		display:line-block;
	}
}
/*爱生活*/ 
#tit-img{
	height:35px;
	text-align:center;
	img{
		width:50%;
	}
}
/*为你推荐*/
.gray-text:after {
    content: "";
    height: 1PX;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #cbcbcb;
    -webkit-transform: scaleY(0.5);
}
.gray-text{
	width:100%;
	position: relative;
    display: -webkit-box;
    margin: 14PX 5PX;
    color: #848689;
    font-size: 14PX;
    -webkit-box-pack: center;
    .gray-layout{
    	padding: 0PX 10PX;
    background-color: #f0f2f5;
    z-index: 10;
    position: relative;
    display: block;
    .gray-text-img{
    background: url(../image/下载.png);
    background-repeat: no-repeat;
    background-size: 13PX 13PX;
    width: 13PX;
    height: 13PX;
    display: block;
    margin-right: 10PX;
    position: relative;
    top: 1PX;
    float: left;
    }
    }
} 
/*滚动加载*/
.similar{
	width:100%;
	.similar-left{
		// position: relative;
		float:left;
		// padding-right:2%;
		width:48%;
		img{
			width:100%;
		}
		strong{
				
			height: 33PX;
		    font-size: 13px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		    word-break: break-word;
		    color: #232326;
		    margin-top: 5PX;
		    line-height: 17PX;
		    margin-bottom: 3PX;
		    padding: 0 4PX;

   
			font-size:12px;
		}
		p{
			color:red;
			font-size:16px;
		}
		.praise{
			width:100%;
			height:25px;
			.button{
				display:block;
				float:right;
				border:1px solid #cdcdcd;
				text-align:center;
				width:50px;
				height:25px;
			}

		}

	}
} 
/*底部*/
.floor-bottom{
	// display:none;

	position:fixed;
	width:100%;
	bottom:0px;
	background:#fff;
	height:50px;
	z-index:999999;
	ul{

	// height:50px;
	height: 100%;
    position: relative;
    background-color: #fff;

	width:100%;

		li{
			height:100%;
			float:left;
			width:20%;
			line-height:50px;
			text-align:center;
			img{
				    max-height: 100%;
    max-width: 100%;
    width: auto;
    overflow: hidden;

				
			}
		}
	}
	.bar-img{
		display:block;
		position: fixed;
	    display: inline-block;
	    margin-left: -32PX;
	    bottom: 0;
	    height: auto;
	    width: 65PX;
	    left: 50%;
	    z-index: 33;
	}
} 
